@import url('https://fonts.googleapis.com/css2?family=Aclonica&family=Bebas+Neue&family=Dhurjati&family=Oswald:wght@400;700&family=Poppins:wght@400;500;600;800&family=Satisfy&display=swap');
body {
  margin: 0;
  
   
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh;
  background-image: url('./components/quotes.jpg');
  color: aliceblue;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
